<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/gherghett/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="any-user" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>
